h1{
    font-family:'Courier New', Courier, monospace;
    margin-left: 50px;
    margin-top: 30px;
    font-weight: 900;
}
button{
    margin-left: 50px;
}

h2{
    font-family:'Courier New', Courier, monospace;
    margin-left: 50px;
}