<div class="informacao-pessoal">
    <p>Cadastro de perfil:</p>
    <form [formGroup]="formularioPerfil" (ngSubmit)="Submit()">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" formControlName="nome">
  
      <label for="telefone">Telefone:</label>
      <input type="tel" id="telefone" [(ngModel)]="telefone" required>
  
      <label for="email">E-mail:</label>
      <input type="email" id="email" formControlName="email">
  
      <label for="dataNascimento">Data de Nascimento:</label>
      <input type="date" id="dataNascimento" [(ngModel)]="dataNascimento" required>
  
      <button type="submit" [disabled]="!formularioPerfil.valid">Enviar</button>
    </form>
  
    <p>{{ mensagem }}</p>

    <p>Confirmação de dados:</p>
    <p>Nome: {{ formularioPerfil.value.nome }}</p>
    <p>E-mail: {{ formularioPerfil.value.email }}</p>
</div>